* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    overflow-x: hidden;
}
body {
    position: relative; 
    overflow: hidden; 
}

body::before {
    content: ""; 
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background-image: url('../images/extra1.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    filter: blur(0.5em); 
    z-index: -1; 
}

.content {
    position: relative; 
    z-index: 1; 
}

.nav_container {
    width: 90vw; 
    max-width: 120vw;
    height: auto; 
    margin: 0 auto;
    overflow: hidden;
    padding: 1vh 0; 
    text-align: center; 
}

.logo {
    align-content: center;
    width: 50vw; 
    max-width: 100vw;
    margin-bottom: 1vh; 
}

ul {
    list-style: none; 
    padding: 0;
    margin: 0;
    display: inline-block; 
}

.nav_item {
    display: inline; 
    margin: 0 1.5vw; 
}

.nav_link {
    text-decoration: none;
    font-size: 2vw; 
    font-weight: bold;
    color: red; 
}

.nav_link:hover {
    color: #ff8400; 
}

.home, .about, .contact, .dashboard, .logi, .remove, .add, .update{
    color: rgb(253, 196, 8);
}

.login_boton{
    color: rgb(0, 203, 253);
    font-size: large;
    text-decoration-line: underline;  
}
.hello{
    color: #f0f0f0;
    font-size: large;
    margin: 0;
    padding-left: 10vw;
}

.wrapper {
    width: 100vw;
    height: auto; 
    min-height: 60vh; 
    max-height: 80vh; 
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr; 
    align-items: center; 
    justify-items: center; 
    color: #fff;
}

.content {
    width: 100vw; 
    height: auto; 
    margin: 1vh 2vw; 
    color: rgb(252, 250, 250);
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: center; 
    position: relative; 
    z-index: 1; 
}

.newcontact {
    padding: 2vh; 
    background-color: #f9f9f957; 
    color: black; 
    margin-top: 2vh; 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
    width: 90%; 
    max-width: 400px; 
}

.newcontact input[type="text"], 
.newcontact input[type="submit"] {
    width: 100%; 
    padding: 1vh; 
    margin-bottom: 1.5vh; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.newcontact input[type="submit"] {
    background-color: #ff0303; 
    color: white; 
    border: none; 
    cursor: pointer; 
}

.newcontact input[type="submit"]:hover {
    background-color: red; 
}

.newcontact h2 {
    margin-bottom: 1vh; 
    font-size: 1.8vw; 
}
.ufo-display {
    list-style-type: none;
    padding: 0;
}

.lista {
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.watcher-name {
    font-weight: bold;
    color: #333;
}

.ufo-location,
.ufo-aspect {
    color: #555;
    font-size: 14px;
}

.login {
    max-width: 30vw; 
    margin: auto;
    padding: 2vh;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
     
     align-items: center;
}

.login input[type="text"] {
    width: 100%; 
    padding: 1vh;
    margin: 1vh -1vw; 
    
}

.login input[type="submit"] {
    width: 100%; 
    padding: 1vh;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
}

.login input[type="submit"]:hover {
    background-color: #0056b3; 
}